body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: medium;
    color: #40514E;
    
}
h1 {
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF; 
    
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    padding-bottom: 10px;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
p {
    line-height: 2;
}
.intro {
    width: 30%;
    margin: 0 auto 30px;
}
.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
}
.computer-image {
    width: 25%;
    float: left;
    border-radius: 100%;
    margin-right: 30px;
}
.chillie-image {
    width: 25%;
    float: right;
    border-radius: 100%;
    margin: 30px;
}
.top-container {
    background-color: #E4F9F5;
    margin: 0;
    padding-top: 100px;
}
.middle-container {
    margin: 100px 0 100px;
}
.bottom-container {
    background-color: #66BFBF;
    padding: 50PX 0 20px;
    color: #11999E;
    height: 80px;
    float: top;
}
#profile-picture { 
    width: 150px;
    height: 150px;
    border: 5;
    border-radius: 100%;
}
img {
    position: relative;
}
.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;

}
.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}
.computer {
    border-radius: 100%;
}
hr {
    background-color: white;
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 3%;
}
.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}
.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: linear-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
background: #30E3CB;
background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
text-decoration: none;
}
a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover {
    color: #eaf6f6;
}
.copyright {
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0;
}